{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div>
        <div>
            <img src = "{{asset('images/'~participant.photo)}}">
        </div>
        <div class="panel-form-user">
            <h1> {{ participant.pseudo }}</h1>
                <div>
                    <div>Prénom : {{ participant.firstName }}</div>
                    <div>Nom : {{ participant.lastName }}</div>
                </div>
                <div>Téléphone : {{ participant.phone }}</div>
                <div>Email : {{ participant.mail }}</div>
                <div>Ville de rattachement : {{ participant.site.name }}</div>
        </div>
            <a href="{{ path('outing') }}" class="button">Retour</a>
    </div>

{% endblock %}


