{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/composants/headers.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/form.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/card.css') }}">
{% endblock %}


{% block body %}
    {{ parent() }}

    {{ form_start(updateForm) }}
    {{ form_errors(updateForm) }}
    <div class="panel-user">
        <div class="formAvatar">
            <div class="avatar">
                <img src = "{{asset('images/'~participant.photo)}}">
            </div>
            {{ form_row(updateForm.photo) }}
        </div>

        <div class="panel-form-user">
            <h1>Mon profil</h1>

            {{ form_row(updateForm.pseudo) }}
            <div class="doubleInputContainer">
                <div class="left">
                    <h3 class="labelInput">Nom</h3>
                    {{ form_row(updateForm.lastName, {'label':false}) }}
                </div>
                <div class="right">
                    <h3 class="labelInput">Prénom</h3>
                    {{ form_row(updateForm.firstName, {'label':false}) }}
                </div>
            </div>
            <h3 class="labelInput">Numéro de téléphone</h3>
            {{ form_row(updateForm.phone, {'label':false}) }}
            <h3 class="labelInput">E mail</h3>
            {{ form_row(updateForm.mail, {'label':false}) }}
            <h3 class="labelInput">Mot de passe</h3>
            {{ form_row(updateForm.plainPassword, {'label':false}) }}
            <h3 class="labelInput">Ville de rattachement</h3>
            {{ form_row(updateForm.site, {'label':false}) }}
       </div>
        <div class="buttonContainerUser">
            {{ form_row(updateForm.submit) }}
            <a href="{{ path('outing') }}" class="button btn-secondary">Annuler</a>
        </div>
        {{ form_end(updateForm) }}
    </div>
{% endblock %}



