{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/composants/headers.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/form.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/card.css') }}">
{% endblock %}


{% block body %}
    {{ parent() }}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {{ form_start(registrationForm) }}
    {{ form_errors(registrationForm) }}
    <div class="panel-user">
        <div class="formAvatar">
            <div class="avatar"></div>
            {{ form_row(registrationForm.photo, {'label':false}) }}
        </div>

        <div class="panel-form-user">
            <h1>Enregistrer un participant</h1>

            {{ form_row(registrationForm.pseudo) }}
            <div class="doubleInputContainer">
                <div class="left">
                    <h3 class="labelInput">Nom</h3>
                    {{ form_row(registrationForm.lastName, {'label':false}) }}
                </div>
                <div class="right">
                    <h3 class="labelInput">Prénom</h3>
                    {{ form_row(registrationForm.firstName, {'label':false}) }}
                </div>
            </div>
            <h3 class="labelInput">Numéro de téléphone</h3>
            {{ form_row(registrationForm.phone, {'label':false}) }}
            <h3 class="labelInput">E mail</h3>
            {{ form_row(registrationForm.mail, {'label':false}) }}
            <h3 class="labelInput">Mot de passe</h3>
            {{ form_row(registrationForm.plainPassword, {'label':false}) }}
            <h3 class="labelInput">Ville de rattachement</h3>
            {{ form_row(registrationForm.site, {'label':false}) }}
            <div class="doubleInputContainer">
                <div class="left">
                    <h3 class="labelInput">Participant actif </h3>
                </div>
                <div class="right">
                    {{ form_row(registrationForm.isActive, {'label':false})}}
                </div>
            </div>
        </div>
        <div class="buttonContainerUser">
            {{ form_row(registrationForm.submit) }}
            <a href="{{ path('outing') }}" class="button btn-secondary">Annuler</a>
        </div>

        {{ form_end(registrationForm) }}

    </div>

    <div>
        <h1>Register with CSV</h1>
        {{form(csvForm)}}
    </div>









    
{% endblock %}
