{% extends 'base.html.twig' %}

{% block title %}Créer sortie{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/outing-create.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>
    <div>



        <p>{{ form_start(outingForm) }}</p>
        <p>{{ form_errors(outingForm) }}</p>

        <p>{{ form_row(outingForm.name) }}</p>
        <p>{{ form_row(outingForm.dateBegin) }}</p>
        <p>{{ form_row(outingForm.dateEnd) }}</p>
        <p>{{ form_row(outingForm.maxRegistration) }}</p>
        <p>{{ form_row(outingForm.duration) }}</p>
        <p>{{ form_row(outingForm.description) }}</p>
        <p>Ville organisatrice : {{ userSite.name }}</p>
        <p>{{ form_row(outingForm.city) }}</p>
        <p>{{ form_row(outingForm.location) }}</p>
        <p>Rue : {{ userSite.name }}</p>
        <p>Code postal : {{ userSite.name }}</p>
        <p>Latitude : {{ userSite.name }}</p>
        <p>Longitude : {{ userSite.name }}</p>
        {% do outingForm.cancellationReason.setRendered("") %}
        <p>{{ form_row(outingForm.save) }}</p>
        <p>{{ form_row(outingForm.saveAndAdd) }}</p>
        <a href="{{ path('outing') }}" class="button">Annuler</a>


{{ form_end(outingForm) }}

    </div>
{% endblock %}
