{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}

    <h1>Accueil</h1>

    <div>
        <p> Date du jour : {{ "now"|date("d/m/Y")  }} </p>
        {% if user is defined and user is not null %}
            <p> Participant: {{ user.firstname }} </p>
        {% endif %}
    </div>


    <div>

        {{ form_start(formulaire, {'attr': {'class':'mainFilter'}}) }}


        <input type="submit" name="pageButtton" value="{{ currentPage-1 }} ">
        <input type="submit" name="pageButtton" value="{{ currentPage+1 }} ">

        <div class = "formulaire">
            <div class = "formulaireLine">
                <div class ="labelinput">
                    <div class=" label"> {{ form_label(formulaire.site) }} </div>
                    <div class=" input"> {{ form_widget(formulaire.site)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.site) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class ="labelinput">
                    <div class="label"> {{ form_label(formulaire.name) }} </div>
                    <div class="input"> {{ form_widget(formulaire.name)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.name) }} </div>
            </div>


            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.dateBeginFilter) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.dateBeginFilter)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.dateBeginFilter) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class="label"> {{ form_label(formulaire.dateEndFilter) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.dateEndFilter)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.dateEndFilter) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "input"> {{ form_widget(formulaire.isPlanner)}} </div>
                    <div class = "label"> {{ form_label(formulaire.isPlanner) }} </div>

                </div >

                <div class = "error"> {{ form_errors(formulaire.isPlanner) }} </div>
            </div>


            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.isRegistered) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.isRegistered)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.isRegistered) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.isNotRegistered) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.isNotRegistered)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.isNotRegistered) }} </div>
            </div>

            <div class = "formulaireLine" >
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.isOutDated) }}    </div>
                    <div class = "input"  >  {{ form_widget(formulaire.isOutDated)}}   </div>
                </div >

                <div class = "error">  {{ form_errors(formulaire.isOutDated)}}  </div>
            </div>


        </div>


        {{  form_end (formulaire)}}

    </div>

    <div class="content">   {% include("outing/content.html.twig") %} </div>


{% endblock %}
