{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Accueil</h1>

    {% if currentPage > 1 %}
        <a href="{{ path('outing', {'page':currentPage-1}) }}"> {{ currentPage-1 }} | Page précédente</a>
    {% endif %}

    {% if currentPage < maxPage %}
        <a href="{{ path('outing', {'page':currentPage+1}) }}"> Page suivante | {{ currentPage + 1 }}</a>
    {% endif %}

    <div>

        <table>
            <thead>
            <tr>
                <th colspan="2">Nom de la sortie</th>
                <th colspan="2">Date de la sortie</th>
                <th colspan="2">Clôture</th>
                <th colspan="2">inscrits/places</th>
                <th colspan="2">Etat</th>
                <th colspan="2">Inscrit</th>
                <th colspan="2">Organisateurr</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for outing in outings %}

                <tr>
                    <td colspan="2">{{ outing.name }}</td>
                    <td colspan="2">{{ outing.dateBegin|date ('d/m/y') }}</td>
                    <td colspan="2">{{ outing.dateBegin|date_modify("+"~outing.duration)|date ('d/m/y') }}</td>
                    <td colspan="2">{{ outing.participants|length }} / {{ outing.maxRegistration }}</td>
                    <td colspan="2">{{ outing.state.label }}</td>

                    <td colspan="2">
                        {% if app.user.outings.contains(outing) %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>

                    <td colspan="2">{{ outing.planner.lastName }} </td>

                    <td colspan="2">
                        <div class="action_buttons">
                            <a href="{{ path('outing') }}"> afficher </a>

                            {% if app.user.outings.contains(outing) %}

                                <a href="{{ path('outing_removefrom',{'id':outing.id}) }}">
                                    Se desister
                                </a>

                            {% elseif outing.state.label == "Ouverte" and outing.planner != app.user %}

                                <a href="{{ path('outing_registerto',{'id':outing.id}) }}">
                                    S'inscrire
                                </a>

                            {% endif %}

                            {% if (app.user.pseudo == outing.planner.pseudo) or 'ROLE_ADMIN' in app.user.roles %}

                                <a href="{{ path('outing') }}"> Modifier </a>

                                <a href="{{ path('outing') }}"> Annuler </a>

                            {% endif %}

                        </div>

                    </td>


                </tr>

            {% endfor %}
            </tbody>
        </table>


    </div>

    <p> Page n° {{ currentPage }}</p>


{% endblock %}
