{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Accueil</h1>

    <div>
        <p> Date du jour : {{ "now"|date("d/m/Y")  }} </p>
        {% if user is defined and user is not null %}
            <p> Participant: {{ user.firstname }} </p>
        {% endif %}
    </div>


    <div>



        {{ form_start(formulaire, {'attr': {'class':'mainFilter'}}) }}

        {% if currentPage > 1 %}
        <input type="submit" name="pageButtton" value="{{ currentPage-1 }} ">
        {% endif %}

        {% if currentPage < maxPage %}
        {% if currentPage == 1 %}
        <div></div>
        {% endif %}


        <input type="submit" name="pageButtton" value="{{ currentPage+1 }} ">

        {% endif %}

        <div class = "formulaire">
            <div class = "formulaireLine">
                <div class ="labelinput">
                    <div class=" label"> {{ form_label(formulaire.site) }} </div>
                    <div class=" input"> {{ form_widget(formulaire.site)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.site) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class ="labelinput">
                    <div class="label"> {{ form_label(formulaire.name) }} </div>
                    <div class="input"> {{ form_widget(formulaire.name)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.name) }} </div>
            </div>


            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.dateBeginFilter) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.dateBeginFilter)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.dateBeginFilter) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class="label"> {{ form_label(formulaire.dateEndFilter) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.dateEndFilter)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.dateEndFilter) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "input"> {{ form_widget(formulaire.isPlanner)}} </div>
                    <div class = "label"> {{ form_label(formulaire.isPlanner) }} </div>

                </div >

                <div class = "error"> {{ form_errors(formulaire.isPlanner) }} </div>
            </div>


            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.isRegistered) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.isRegistered)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.isRegistered) }} </div>
            </div>

            <div class = "formulaireLine">
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.isNotRegistered) }} </div>
                    <div class = "input"> {{ form_widget(formulaire.isNotRegistered)}} </div>
                </div >

                <div class = "error"> {{ form_errors(formulaire.isNotRegistered) }} </div>
            </div>

            <div class = "formulaireLine" >
                <div class = "labelinput">
                    <div class = "label"> {{ form_label(formulaire.isOutDated) }}    </div>
                    <div class = "input"  >  {{ form_widget(formulaire.isOutDated)}}   </div>
                </div >

                <div class = "error">  {{ form_errors(formulaire.isOutDated)}}  </div>
            </div>


        </div>


        {{  form_end (formulaire)}}

    </div>


    <div>

            <table>
                <thead>
                <tr>
                    <th colspan="2">Nom de la sortie</th>
                    <th colspan="2">Date de la sortie</th>
                    <th colspan="2">Clôture</th>
                    <th colspan="2">inscrits/places</th>
                    <th colspan="2">Etat</th>
                    <th colspan="2">Inscrit</th>
                    <th colspan="2">Organisateurr</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for outing in outings %}




                <tr>
                    <td colspan="2">{{ outing.name}}</td>
                    <td colspan="2">{{ outing.dateBegin|date ('d/m/y')}}</td>
                    <td colspan="2">{{ outing.dateEnd|date ('d/m/y')}}</td>
                    <td colspan="2">{{ outing.participants|length}} / {{ outing.maxRegistration }}</td>
                    <td colspan="2">{{ outing.state.label}}</td>


                    <td colspan="2">

                        {% if app.user.outings.contains(outing) %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>

                    <td colspan="2">{{ outing.planner.lastName }} </td>

                    <td colspan="2">
                        <div class="action_buttons">
                            <a href="{{ path('outing') }}"> afficher </a>

                            {% if app.user.outings.contains(outing) %}

                                <a href="{{ path('outing_removeParticipant',{'id':outing.id}) }}">
                                    Se desister
                                </a>

                            {% elseif outing.state.label == "Ouverte" and outing.planner != app.user %}

                                <a href="{{ path('outing_addParticipant',{'id':outing.id}) }}">
                                    S'inscrire
                                </a>

                            {% endif %}

                            {% if (app.user.pseudo == outing.planner.pseudo) and outing.state.label == "Créée" %}

                                <a href="{{ path('outing') }}"> Modifier </a>

                            {% endif %}

                            {% if ((app.user.pseudo == outing.planner.pseudo) or ('ROLE_ADMIN' in app.user.roles))and (outing.state.label == "Ouverte" or outing.state.label == "Clôturée") %}


                                <a href="{{ path('outing_cancel', {'id':outing.id}) }}"> Annuler </a>

                            {% endif %}

                        </div>

                    </td>


                </tr>

            {% endfor %}
            </tbody>
        </table>


    </div>

    <p> <a href="{{ path('outing_create') }}"> Créer une sortie </a></p>

    <p> Page n° {{ currentPage }} sur {{ maxPage }}</p>
    <div> {{ maxOutings }} résultats</div>


{% endblock %}
