{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/composants/headers.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/form.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/card.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/outing-create.js') }}"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-form-outing">
        <h1>Détail de la sortie</h1>
        <div class="column left">
            <p>Nom de la sortie : {{ outing.name }}</p>
            <p>Date et Heure de la sortie : {{ outing.dateBegin|date('d-m-y') }}</p>
            <p>Date limite d'inscription : {{ outing.dateEnd|date('d-m-y')}}</p>
            <p>Nombre de places : {{ outing.maxRegistration}}</p>
            <p> Durée: {{ outing.duration }}  min</p>
            <p> Description et infos: {{ outing.description }}</p>
        </div>
        <div class="column right">
            <p> Ville Organisatrice: {{ outing.site.name }}</p>
            <p> Lieu: {{ outing.location.name }}</p>
            <p> Rue: {{ outing.location.street }}</p>
            <p> Code postal: {{ outing.location.city.postalCode }}</p>
            <p> Latitude: {{ outing.location.latitude  }}</p>
            <p> Longitude:  {{ outing.location.longitude  }}</p>
        </div>
    </div>

    <div class = "single-outing-participants">
        {%  set participants = outing.participants %}
        <div style="width:30%;height:200px;overflow:scroll;">

        <table>
            <thead>
                <tr>
                    <th colspan="2">Pseudo</th>
                    <th colspan="2"> Nom </th>
                </tr>
            </thead>
            <tbody>


            <tr>
            {% for participant in participants  %}
                <td colspan="2"> {{ participant.pseudo }}</td>
                <td colspan="2">  <a href="{{ path('participant_profile_show',{'id':participant.id }) }}">  {{ participant.firstName }}  {{ participant.lastName }}</a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>

    </div>

    <a href="{{ path('outing') }}" class="button">Retour</a>

{% endblock %}
