{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/composants/headers.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/form.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/card.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/outing-create.js') }}"></script>
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="panel-form-outing">
        <h1>Détail de la sortie</h1>
        <div class="column left doubleInputContainer">
             <div class="left labelInput">
                    <h3>Nom de la sortie : </h3>
                    <h3>Date et Heure de la sortie : </h3>
                    <h3>Date limite d'inscription : </h3>
                    <h3>Nombre de places : </h3>
                    <h3> Durée: </h3>
                    <h3> Description et infos: </h3>
                </div>
                <div class="right">
                    <h3>{{ outing.name }}</h3>
                    <h3>{{ outing.dateBegin|date('d-m-y') }}</h3>
                    <h3>{{ outing.dateEnd|date('d-m-y')}}</h3>
                    <h3>{{ outing.maxRegistration}}</h3>
                    <h3>{{ outing.duration }}  min</h3>
                    <h3>{{ outing.description }}</h3>
                </div>
        </div>

        <div class="column right doubleInputContainer">
            <div class="left labelInput">
                <h3> Ville Organisatrice: </h3>
                <h3> Lieu: </h3>
                <h3> Rue: </h3>
                <h3> Code postal: </h3>
                <h3> Latitude: </h3>
                <h3> Longitude:  </h3>
            </div>
            <div class="right">
                <h3>{{ outing.site.name }}</h3>
                <h3>{{ outing.location.name }}</h3>
                <h3>{{ outing.location.street }}</h3>
                <h3>{{ outing.location.city.postalCode }}</h3>
                <h3>{{ outing.location.latitude  }}</h3>
                <h3>{{ outing.location.longitude  }}</h3>
            </div>
        </div>
    </div>

    <div>
        {%  set participants = outing.participants %}
        <select >
            <option >--Liste de participants inscrits--</option>

            {% for participant in participants  %}
                <option> {{ participant.pseudo }}  <a href="{{ path('participant_profile_show',{'id':participant.id }) }}">  {{ participant.firstName }}  {{ participant.lastName }}</a>  </option>

            {% endfor %}
        </select>
    </div>
    <div class="buttonContainerOuting">
        <a href="{{ path('outing') }}" class="button">Retour</a>
    </div>

{% endblock %}
