{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/frames/login.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/headers.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/form.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/buttons.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/checkbox.css') }}">
    <link rel="stylesheet" href="{{ asset('style/composants/navbar.css') }}">
{% endblock %}
{% block title %}Components{% endblock %}

{% block body %}

    <div style="display:flex; flex-flow: column; justify-content: space-around; align-items:center;height:50vh; width: 100vw">
        <button>Button lorem</button>
        <button>A laaaaaaaaaaaaaaarge button</button>
        <button class="btn-secondary">A secondary button</button>
        <h1 class="logo">Sortir.com</h1>
    </div>




{% endblock %}
